<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Promocode</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
            <a href="/admin">Home</a>
            <a href="/admin/courses">See All Courses</a>
            <a href="/admin/requested_courses">See Requested Courses</a>
            <a href="/admin/view_students"> See All Students</a>
            <a class="active" href="/admin/add_promocode">Create A Promocode</a>
            <a href="/admin/issue_promocode">Issue A Promocode</a>
            <a href="/profile">Profile</a>
            <a href="/logout" style="float: right;">Log out</a>
      </div>
    <div class="container">
        <h1>Create Promocode</h1>
    </div>
    <div class="cont">
        <form method='post' action='/admin/add_promocode'>
            Code: <br>
            <input type="text" id="firstName" name="code" maxlength="6" required> <br>
            Issue Date : <br>
            <input type="text" id="lastName" name="isuueDate" required> <br>
            Expiry Date: <br>
            <input type="text" id="password" name="expiryDate"  required> <br>
            Discount: <br>
            <input type="text" id="email" name="discount" maxlength="4" required> <br>
            <input type="submit" id="simple_click" class="btn btn-secondary" value="Add Promocode"> <br>
        </form>
    </div>
</body>

</html>