<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Issue Code</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a href="/admin">Home</a>
        <a href="/admin/courses">See All Courses</a>
        <a href="/admin/requested_courses">See Requested Courses</a>
        <a href="/admin/view_students"> See All Students</a>
        <a href="/admin/add_promocode">Create A Promocode</a>
        <a class="active" href="/admin/issue_promocode">Issue A Promocode</a>
        <a href="/logout" style="float: right;">Log out</a>
    </div>
    <div class="container">
        <h1>Issue Promocode to Student</h1>
    </div>
    <div class="cont">
        <form method='post' action='/admin/issue_promocode'>
            Code: <br>
            <input type="text" id="firstName" name="pid" maxlength="6" required> <br>
            ID of Student: <br>
            <input type="number" id="lastName" min="1" name="sid" required> <br>
            <br> <br> <p style="color: crimson; font-size: 15px; font-weight: 500;"><%=error%> </p>
            <input type="submit" id="simple_click" class="btn btn-secondary" value="Issue Promocode"> <br>
        </form>
    </div>
</body>

</html>