<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Students</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="topnav">
        <a href="/admin">Home</a>
        <a href="/admin/courses">See All Courses</a>
        <a href="/admin/requested_courses">See Requested Courses</a>
        <a class="active" href="/admin/view_students"> See All Students</a>
        <a href="/admin/add_promocode">Create A Promocode</a>
        <a href="/admin/issue_promocode">Issue A Promocode</a>
        <a href="/logout" style="float: right;">Log out</a>
</div>
    </div>
    <div class="container">
        <h1>All Students</h1>
    </div>
    <div class="table">
      <table cellspacing=10px>
          <tr>
            <td>Student ID</td>
            <td>Name</td>
          </tr>
          <tr>
            <% for(row in data) { %>
              <tr>
                <td><%=data[row].id%></td>
                <td><a href="/admin/student_details/<%=data[row].id%>"><%=data[row].firstName%> <%= data[row].lastName %></a></td>
              </tr>
            <% } %>
          </tr>
        </table>
  </div>
    
</body>
</html>