<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Instructor</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        ntegrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            body{
                background-image:  #0a1750;
                background-repeat: no-repeat;
                background-size: fill;
            }
            h1{
                color: black;
                text-align: center;
                -webkit-text-stroke: 1px black;
            }
        </style>
    </head>
    <body>
        <form method="POST" action="/addingCourse">
            Credit hours :<br>
            <input id="creditHours" TYPE="text" value="" name="creditHours" required>
            <br>
            Name :<br>
            <input id="Name" TYPE="text" value="" name="Name" required>
            <br>
            Price :<br>
            <input id="Price" TYPE="text" value="" name="Price" required>
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>