<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Define assignment</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        ntegrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/instStyle.css">
        <style>
            .post{
                padding-top: 5%;
            }

            .post input,select {
                width: 150px;
            }
        </style>
    </head>
    <body class= "new">
        <div class="topnav">
            <a href="/instructor">Home</a>
            <a href="addcourse">Add course</a>
            <a class="active" href="defineAssignment">Add assesment</a>
            <a href="/addInstructor">Add instructor</a>
            <a href="/updateContent">Content</a>
            <a href="/updateCourseDescription">Course description</a>
            <a href="/viewFeedback">View student feedback</a> 
            <a href="/viewAssigninst">View assignment students</a>
            <a href="/IssueCertificate">Issue certificate</a>
            <a href="/instructorProfile">Profile</a>
            <a href="/logout" style="float: right;" class="logout">Log out</a>
        </div>
        <div class="post">
        <form method="POST" action="/defineAssignment">
            Course id :<br>
            <select id="cid" name="cid">
                <option selected value='0'>Choose a course</option>
                <%   
                for(i = 0 ; i < result.length ; i++) {
                %>
                <option value = "<%= result[i].id %>" > <%=result[i].name %> </option>
                <% } %> 
            </select>
            <br> <br>
            Number :<br>
            <input id="number" TYPE="text" value="" name="number" required>
            <br> <br>
            Full grade :<br>
            <input id="fullGrade" TYPE="text" value="" name="fullGrade" required>
            <br> <br>
            Type :<br>
            <select id="type" name="type">
                <option selected value="">Choose type</option>
                <option value="exam">Exam</option>
                <option value="project">Project</option>
                <option value="quiz">Quiz</option>
            </select>
            <br> <br>
            Weight :<br>
            <input id="weight" TYPE="text" value="" name="weight" required>
            <br> <br>
            Dead line :<br>
            <input id="deadline" TYPE="datetime" textmode="Date" value="" name="deadline" required>
            <br> <br>
            Content :<br>
            <input id="content" TYPE="text" value="" name="content" maxlength="200" required>
            <br>
            <br>
            <input type="submit" value="Submit" style="width: initial;">
        </form>
    </div>
    </body>
</html>