<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            .new{
                background-color: #008891;
                font-size: .80em;
                font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
                color: #e7e7de;
                text-align: center;
            }
            .post{
                padding-top: 5%;
            }
            h1{
                color: black;
                text-align: center;
                -webkit-text-stroke: 1px black;
            }
            .topnav a {
                float: left;
                color: #00587a;
                text-align: center;
                padding: 14px 12px;
                text-decoration: none;
                font-size: 14px;
            }
            .topnav {
                background-color: grey;
                overflow: hidden;
            }.topnav a.active {
                background-color: #6f9eaf;
                color: #e7e7de;
                pointer-events: none;
            }
            .topnav a:hover {
                background-color: #008891;
                color: #e7e7de;
            }
        </style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Define assignment</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        ntegrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body class= "new">
        <div class="topnav">
            <a href="/instructor">Home</a>
            <a href="addcourse">Add course</a>
            <a class="active" href="defineAssignment">Add assesment</a>
            <a href="/addInstructor">Add instructor</a>
            <a href="/updateContent">Content</a>
            <a href="/updateCourseDescription">Course description</a>
            <a href="/viewFeedback">View student feedback</a> 
            <a href="/viewAssigninst">View assignment students</a>
            <a href="/IssueCertificate">Issue certificate</a>
            <a href="/instructorProfile">Profile</a>
            <a href="/logout">Log out</a>
        </div>
        <div class="post">
        <form method="POST" action="/defineAssignment">
            Course id :<br>
            <select id="cid" name="cid">
                <option selected value='0'>Choose a course</option>
                <%   
                for(i = 0 ; i < result.length ; i++) {
                %>
                <option value = "<%= result[i].id %>" > <%=result[i].name %> </option>
                <% } %> 
            </select>
            <br>
            Number :<br>
            <input id="number" TYPE="text" value="" name="number" required>
            <br>
            Full grade :<br>
            <input id="fullGrade" TYPE="text" value="" name="fullGrade" required>
            <br>
            Type :<br>
            <select id="type" name="type">
                <option selected value="">Choose type</option>
                <option value="exam">Exam</option>
                <option value="project">Project</option>
                <option value="quiz">Quiz</option>
            </select>
            <br>
            Weight :<br>
            <input id="weight" TYPE="text" value="" name="weight" required>
            <br>
            Dead line :<br>
            <input id="deadline" TYPE="datetime-local" textmode="Date" value="" name="deadline" required>
            <br>
            Content :<br>
            <input id="content" TYPE="text" value="" name="content" maxlength="200" required>
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
    </body>
</html>