<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            body{
                background-color: #008891;
                background-repeat: no-repeat;
                background-size: fill;
            }
            h1{
                color: black;
                text-align: center;
                -webkit-text-stroke: 1px black;
            }
        </style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Instructor</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        ntegrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1>Instructor</h1>
        </div>
        <div class="cont">
            <br>
            <input id="Button1" onclick="location.href='addCourse'" type="button" value="Add course" name="Button1" >
            <br>
            <br>
            <input id="Button2" onclick="location.href='defineAssignment'" type="button" value="Define Assignment" name="Button1" >
            <br>
            <br>
            <br>
            <form method="POST" action="/viewAssign">
            Course id :<br>
            <input id="cid" TYPE="text" value="" name="cid" required>
            <br>
            <input id="Button2"  type="submit" value="View assignment students" name="Button2" >
            </form>
        </div>
    </body>
</html>