<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Instructor</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        ntegrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/instStyle.css">
    </head>
    <body class = "new">
        <div class="topnav">
            <a class="active" href="/instructor">Home</a>
            <a href="/addcourse">Add course</a>
            <a href="/defineAssignment">Add assesment</a>
            <a href="/updateContent">Content</a>
            <a href="/addInstructor">Add instructor</a>
            <a href="/updateCourseDescription">Course description</a>
            <a href="/viewFeedback">View student feedback</a> 
            <a href="/viewAssigninst">View assignment students</a>
            <a href="/IssueCertificate">Issue certificate</a>
            <a href="/instructorProfile">Profile</a>
            <a href="/logout" style="float: right;" class="logout">Log out</a>
        </div>
        <div class="container">
            <h1>Instructor</h1>
        </div>
    </body>
</html>