<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            .container,.new{
                background-color: #008891;
                font-size: .80em;
                font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
                color: #e7e7de;
            }
            h1{
                color: black;
                text-align: center;
                -webkit-text-stroke: 1px black;
            }

            .cont{
                text-align: center;
            }
            .topnav a {
                float: left;
                color: #00587a;
                text-align: center;
                padding: 14px 12px;
                text-decoration: none;
                font-size: 14px;
            }
            .topnav a.submit{
            background-color: grey;
            overflow: hidden;    
            }
            .topnav {
                background-color: grey;
                overflow: hidden;
            }.topnav a.active {
                background-color: #6f9eaf;
                color: #e7e7de;
                pointer-events: none;
            }
            .topnav a:hover {
                background-color: #008891;
                color: #e7e7de;
            }
        </style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Instructor</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        ntegrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body class = "new">
        <div class="topnav">
            <a class="active" href="/instructor">Home</a>
            <a href="addcourse">Add course</a>
            <a href="defineAssignment">Add assesment</a>
            <a href="/updateContent">Content</a>
            <a href="/addInstructor">Add instructor</a>
            <a href="/updateCourseDescription">Course description</a>
            <a href="/viewFeedback">View student feedback</a> 
            <a href="/viewAssigninst">View assignment students</a>
            <a href="/IssueCertificate">Issue certificate</a>
            <a href="/instructorProfile">Profile</a>
            <a href="/logout">Log out</a>
        </div>
        <div class="container">
            <h1>Instructor</h1>
        </div>
    </body>
</html>