<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: #008891;
            background-repeat: no-repeat;
            background-size: 100%;
        }
    </style>
</head>
<body>
    <form method = 'POST' action="/listcerti">
        Course id : <br>
        <input type="text" id="cid" name="cid" maxlength="4" required> <br>
         <br>
        <input type="submit" id="simple_click" class="btn btn-secondary" value="Submit"> <br>
    </form>
</body>
</html>