<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ooops :(</title>
    <style>
        body {
            background-color: #222831;
            text-align: center;
            font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
        }

        h1 {
            color: #f05454;
            font-size: 15em;
        }

        h2 {
            position: relative;
            bottom: 7em;
            color: #dddddd;
        }

        h4 {
            color: #dddddd;
        }
    </style>
</head>
<body>
    <h4>Sorry dude, but this isn't a valid link... :(</h4>
    <h1>404</h1>
    <h2>PAGE NOT FOUND!</h2>
</body>
</html>