<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
        <style>
            body{
               background-image: url("background2.jpg");
               background-repeat: no-repeat;
               background-size: 150%;
           }
           h1 {
                color: white;
                text-align: center;
                -webkit-text-stroke: 1px black;
            }
            .cont {
                position:relative;
                left:600px;
                top:50px;
                color: white;
            }
       </style>
</head>

<body>
    <div class="container">
        <h1>Registration</h1>
    </div>
    <div class="cont">
        <form method='post' action='/register'>
            First Name : <br>
            <input type="text" id="firstName" name="first_name" maxlength="10" required> <br>
            Last Name : <br>
            <input type="text" id="lastName" name="last_name" maxlength="10" required> <br>
            Password: <br>
            <input type="password" id="password" name="password" maxlength="10" required> <br>
            Email : <br>
            <input type="text" id="email" name="email" maxlength="10" required> <br>
            Address : <br>
            <input type="text" id="address" name="address" maxlength="10" required> <br>
            Gender : <br>
            <input type="radio" id="male" name="gender" value="0" required>
            <label for="male">Male</label><br>
            <input type="radio" id="female" name="gender" value="1" required>
            <label for="female">Female</label><br>
            Register as :
            <input type="radio" id="instructor" name="regType" value="false" required>
            <label for="instructor">Instructor</label>
            <input type="radio" id="student" name="regType" value="true" required>
            <label for="student">Student</label> <br>
            <p style="color: red;"><%=error%></p>
            <input type="submit" id="simple_click" class="btn btn-secondary" value="Register"> <br>
        </form>
    </div>
</body>

</html>