<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignments</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="topnav">
            <a href="/student">Home</a>
            <a href="/courses">Courses</a>
            <a href="/profile">My Profile</a>
            <a href="/viewGrade">Grades</a>
            <a class="logout" href="/logout" style="float: right;">Logout</a>
        </div>
        <div class="container">
            <h1>Your assignments</h1>
        </div>
        <div class="table">
            <table cellspacing=10px>
                <tr>
                    <td>
                        Course ID
                    </td>
                    <td>
                        Assign number
                    </td>
                    <td>
                        Assign type
                    </td>
                    <td>
                        Grade
                    </td>
                    <td>
                        Weight
                    </td>
                    <td>
                        Deadline
                    </td>
                    <td>
                        Content
                    </td>
                </tr>
                  <%for(var index = 0; index < data.length; index++ ) { %>
                    <tr>  
                    <% for(var key in data[index]){ %> 
                      <td><%=data[index][key]%></td>
                    <% } %> 
                    </tr>
                  <% } %>
              </table>
    </body>
</html>