<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: #008891;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px black;
        }
        .cont {
            position:relative;
            left:600px;
            top:50px;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Your certificates</h1>
    </div>
    <table cellspacing=10px>
        <tr>
          <td>Course id : </td>
          <td><%=data.cid%></td>
        </tr>  
        <tr>
            <td>Issue date : </td>
            <td><%=data.issueDate%></td>
          </tr> 
</body>
</html>