<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method = 'POST' action="/submitAssignment">
        Assign Type : <br>
        <input type="text" id="assignType" name="assignType" maxlength="10" required> <br>
        Assign number : <br>
        <input type="text" id="assignNumber" name="assignNumber" maxlength="1" required> <br>
        Course id : <br>
        <input type="text" id="cid" name="cid" maxlength="4" required> <br>
        Student id : <br>
        <input type="text" id="sid" name="sid" maxlength="5" required> <br>
        <input type="submit" id="simple_click" class="btn btn-secondary" value="SubmitAssign"> <br>
    </form>
</body>
</html>