<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View assign grades</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
        <div class="topnav">
            <a href="/student">Home</a>
            <a href="/courses">Courses</a>
            <a href="/profile">My Profile</a>
            <a href="/viewGrade">Grades</a>
            <a class="logout" href="/logout" style="float: right;">Logout</a>
        </div>
        <div style="position: relative;left: 50px; top: 20px;">
        <table cellspacing=10px>
                <tr>
                    <td style="font-size: 100px;">Grade : </td>
                    <td style="font-size: 100px;"><%=data.assignGrade%></td>
                </tr> 
          </table>
        </div>
</body>
</html>