.new{
    background-color: #30475e;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    color: #e7e7de;
    text-align: center;
}

.container{
    background-color: #30475e;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    color: #e7e7de;
}

h1{
    color: dddddd;
    text-align: center;
    padding-top: 10px;
}

.cont{
    text-align: center;
}

.topnav a {
    float: left;
    color: #222831;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
    font-size: 14px;
}

.topnav a.submit{
    background-color: grey;
    overflow: hidden;    
}

.topnav {
    background-color: #dddddd;
    overflow: hidden;
}

.topnav a.active {
    background-color: #6f9eaf;
    color: #e7e7de;
    pointer-events: none;
}

.topnav a:hover {
    background-color: #f05454;
    color: #e7e7de;
}